<body> 
   {{> Layout }}
</body>

<template name="Layout">
  <div class="page-header">
    <h1>CVV - <small>{{content.title}}</small></h1>
  </div>
  
  <ul class="nav nav-pills">
    {{#each menu}}
      <li role="presentation" class="{{menuclass rota}}"><a href="{{rota}}">{{title}}</a></li>
    {{/each}}
  </ul>
  
  <div class="container">
    {{> Template.dynamic template=content.template data=content}}
  </div>
</template>

<template name="Layoutx">
  <div class="container">
    {{> Template.dynamic template=content}}
  </div>
</template>

