<body>
  {{> Layout }}
</body>

<template name="Layout">
  {{#if hideLayout}}
    {{> Template.dynamic template=content.template data=content}}
  {{else}}
    <div class="header">

      <ul class="nav nav-pills">
        {{#each menu}}
        <li role="presentation" class="{{menuclass rota}}"><a href="{{rota}}">{{title}}</a></li>
        {{/each}}
      </ul>
      <hr/>

    </div>  
    <div class="container">
      {{> Template.dynamic template=content.template data=content}}
    </div>
  {{/if}}
  <div id="printmodal">
    <iframe id="printframe"></iframe>  
  </div>    
</template>
